.ant-drawer-body{
    background-color: #78938A15 !important;
}
.ant-drawer-header{
    background-color: #78938A15 !important;
}
.ant-drawer-content-wrapper{
    width: 300px !important; ;
}
.ant-progress-text{
    color: #525E75 !important;
}